
<tr>
    <td data-label="Title" *ngIf="fields.indexOf('title') >= 0">
        <a [routerLink]="['inspection-details', data.id]">{{data.title}}</a>
    </td>
    <td data-label="Linked Projects" *ngIf="fields.indexOf('project') >= 0">{{ data.project || '-' }}</td>
    <td data-label="Team" *ngIf="fields.indexOf('team') >= 0">
        {{ data.team?.name || '-' }}
    </td>
    <td data-label="Inspector" *ngIf="fields.indexOf('inspector') >= 0">
        <img width="40px" [src]="data.inspector.image" (error)="setDefaultPic()" /> {{data.inspector.name || '-'}}
    </td>
    <td data-label="Submitted" *ngIf="fields.indexOf('submitted') >= 0">{{data.updatedAt | date : "MMM d y" }}</td>
    <td data-label="Actions" *ngIf="fields.indexOf('actions') >= 0">
        <button *ngIf="actions.indexOf('download') >= 0" class="dashboard--actions">Download</button>
        <button *ngIf="actions.indexOf('permission') >= 0" class="dashboard--actions">Set Permissions</button>
        <button *ngIf="actions.indexOf('archive') >= 0" class="dashboard--actions">Archive</button>
        <button *ngIf="actions.indexOf('unarchive') >= 0" class="dashboard--actions">Unarchive</button>
    </td>
</tr>
