<div class="dashboard">
    <button class="location-change" (click)="onLocationChange()">
        <img src="../../../assets/back.png" />
    </button>
    <div class="inspection">
        <div class="dashboard__header">
            <div>
            <h1 class="dashboard__title" id="title">Inspection #{{data?.inspectionNumber}}</h1>
                <label for="title" class="view-only-btn" *ngIf="((data?.viewOnly || user.access.isViewOnly) && !user?.access.isAdmin && !user?.access.isSuperAdmin)">
                        <img class="dashboard__header__btn__img" src="../../assets/view-only.png"/>
                        VIEW-ONLY
                </label>
            </div>
            <div class="dashboard__buttons">
                <button class="dashboard__btn" [disabled]="((data?.viewOnly || user.access.isViewOnly) && !user?.access.isAdmin && !user?.access.isSuperAdmin)" (click)="onDownload(data)">
                    <img 
                        class="dashboard__header__btn__img" 
                        *ngIf="((data?.viewOnly || user.access.isViewOnly) && !user?.access.isAdmin && !user?.access.isSuperAdmin); else CanDownload"  
                        src="../../assets/add-inactive.png" 
                    />
                    <ng-template #CanDownload><img class="dashboard__header__btn__img" src="../../assets/add-active.png" />
                    </ng-template>
                    Download
                </button>
            </div>
        </div>
        <div id="inspection-details" class="inspection-details" *ngIf="data">
            <div class="table inspection">
                <div class="table-row table-header inspection">
                    <div class="table-row-item">Title</div>
                    <div class="table-row-item">Inspection Number</div>
                    <div class="table-row-item">Inspector</div>
                </div>
                    <div class="table-row inspection">
                        <div class="table-row-item name" data-header="Title">
                            {{ data.title || '-' }}
                        </div>
                        <div class="table-row-item" data-header="Inspection Number">
                            {{ data.inspectionNumber || '-' }}
                        </div>
                        <div class="table-row-item name" data-header="Inspector">
                            {{ data.inspector.name || '-' }}
                        </div>
                    </div>
                </div>
                <div class="table inspection">
                    <div class="table-row table-header inspection">
                        <div class="table-row-item">Linked Project</div>
                        <div class="table-row-item">Inspection Start Date</div>
                        <div class="table-row-item">Inspection End Date</div>
                    </div>
                    <div id="last" class="table-row inspection">
                        <div class="table-row-item name" data-header="Title">
                         {{ data.project || '-' }}
                        </div>
                        <div class="table-row-item" data-header="Start Date">
                             {{ data.startDate | date : "EEE MMM dd y" || '-' }}
                        </div>
                        <div class="table-row-item" data-header="End Date">
                             {{ data.endDate | date : "EEE MMM dd y" || '-' }}
                        </div>
                    </div>
                </div>
            </div>
                   
        <div *ngIf="elements?.length > 0">
            <h1 class="dashboard__subtitle">{{subTitle}}</h1>
            <div id="element-details" class="inspection-details">
                <div class="inspection-details__header">
                    <h4>Name</h4>
                    <h4 class="pointer" (click)="sort('createdAt')">Submitted</h4>
                </div>
                <div class="inspection-details-content-elements" *ngFor="let element of elements | orderBy : {property: column, direction: direction}">
                    <a [routerLink]="['element', element.id]">{{ element.title || '-'  }}</a>
                    <p>{{ element.createdAt | date : "MMM d y" || '-' }}</p>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <app-pagination [page]="page" [totalPages]="totalPages" (changePage)="onChangePage($event)"></app-pagination>
            </div>
        </div>

    </div>
</div>