<div class="dashboard">
    <button  class="location-change" (click)="onLocationChange()">
        <img src="../../../assets/back.png" />
    </button>
    <div class="dashboard__header">
        <p class="dashboard__title" *ngIf="team">
            <img class="dashboard__title--img" [src]="team?.badge || '../../../assets/team-lg.png'" /> {{team?.name}}
        </p>
        <div class="dashboard__buttons">
            <a routerLink='../archived-inspections'><button class="dashboard__btn dashboard__btn--lg">Archived Inspections</button></a>
        </div>
    </div>
    <div *ngIf="data !== undefined && data?.length<=0; then noContent else content"></div>
    <ng-template #noContent>
        <no-content [emptyContent]="emptyContent"></no-content>
    </ng-template>
    <ng-template #content>
        <div class="table">
            <div class="table-row table-header">
                <div class="table-row-item">Title</div>
                <div class="table-row-item">Linked Projects</div>
                <div class="table-row-item">Inspector</div>
                <div class="table-row-item pointer" (click)="sort('updatedAt')">Submitted</div>
                <div class="table-row-item view-only">View Only</div>
                <div class="table-row-item">Action</div>
            </div>
            <span *ngFor="let data of data | orderBy : {property: column, direction: direction}">
                <report-list-item  (refresh)="refresh($event)" [data]="data" [fields]="fields" [actions]="actions"></report-list-item>
            </span>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <app-pagination [page]="page" [totalPages]="totalPages" (changePage)="onChangePage($event)"></app-pagination>
        </div>
    </ng-template>
</div>