<div class="dashboard">
  <div class="dashboard__header">
    <p class="dashboard__title">{{title}}</p>
    <div class="dashboard__buttons">
      <button type="button" class="dashboard__btn" (click)="open(addTeam)">
        <img class="dashboard__header__btn__img" src="../../assets/add-active.png" /> 
        Create New
      </button>
      <a href={{archivedLink}}><button class="dashboard__btn">Archived Teams</button></a>
    </div>
  </div>
  <div class="dashboard-card__container" *ngFor="let team of teams">
    <a routerLink="manage-team/{{team.id}}">
      <team-card [team]="team"></team-card>
    </a>
  </div>
</div>

<!-- modal to add new user -->
<ng-template #addTeam let-c="close" class="modal">
  <team-modal [closeValue]="this.c" [modal]="modal"></team-modal>
</ng-template>
