@import '../../../scss/_mixins';
@import '../../../scss/_variables';

 .admin-switch {
    position: relative;
    display: inline-block;
    width: 35px !important;
    height: 20px;

    & input {
      display: none;
    }
  }

.admin-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $font-dark-gray;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      top: 2px;
      left: 2px;
      background-color: $background-white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    &.round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }
  }

  input:checked + .admin-slider {
    background-color: $default-primary-color;
  }

  input:focus + .admin-slider {
    box-shadow: 0 0 1px $default-primary-color;
  }

  input:checked + .admin-slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
