<div class="dashboard">
    <a routerLink={{teamsLink}}>
        <img src="../../assets/back.png" />
    </a>
    <div class="dashboard__header">
        <p class="dashboard__title">{{title}}</p>
    </div>
    <div *ngIf="teams.length <= 0; then noContent else content"></div>
    <ng-template #noContent>
        <no-content [emptyContent]="emptyContent"></no-content>
    </ng-template>

    <ng-template #content>
        <div class="dashboard-card__container" *ngFor="let team of teams">
            <admin-team-card [team]="team"></admin-team-card>
        </div>
    </ng-template>
</div>