<div class="profile__card">
  <div class="profile_card--photo">
    <img class="profile__card--photo__img" src="../../assets/inspector-profile@4x.png" />
    <span class="profile__card--photo__upload">Upload Photo</span>
  </div>
  <div class="profile__card__details">
    <h4>Full Name</h4>
    <p>Mittie Benson</p>
    <h4>Teams</h4>
    <p>Team 1; Team 2</p>
  </div>
  <div class="profile__card__contact">
    <h4>Email</h4>
    <a href="mailto:someone@example.com">someone@example.com</a>
    <span class="profile__card__contact--disclaimer"><i>*Contact Administration below to change personal information.</i></span>
  </div>
</div>
