<div class="login">
  <div class="login__header">
    <img class="login__header__img" src="../../../assets/bc-logo.png" />
  </div>
  <div class="login__body">
    <div class="password-change-description">First time login password change</div>
    <form (ngSubmit)="onPasswordChange(f)" #f="ngForm">
      <div class="login__body__form">
        <label class="login__body__form__label">Password</label>
        <input
          #password="ngModel"
          type="password"
          class="login__body__form__input"
          id="password"
          name="password"
          validateEqual="confirmPassword"
          required
          ngModel
          reverse="true"
          pattern="^[a-zA-Z]*$" 
          maxlength="15"
          minlength="6"
        >
        <div class="error" *ngIf="password.touched && !password.valid">
          <div *ngIf="password.errors.pattern">*Numbers and special characters are not valid inputs.</div>
          <div *ngIf="password.errors.minlength">*Password must be 6 characters long.</div>
        </div>
      </div>
      <div class="login__body__form">
        <label class="login__body__form__label">Confirm Password</label>
        <input
          #confirmPassword="ngModel"
          type="password"
          class="login__body__form__input"
          id="confirmPassword"
          name="confirmPassword"
          validateEqual="password"
          required
          ngModel
          pattern="^[a-zA-Z]*$" 
          maxlength="15" 
          minlength="6"
        >
      </div>
      <div class="error error__content" [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)">
        *Passwords must match
      </div>
      <button type="submit" class="login__body__btn btn" [disabled]="!f.valid">Login</button>
      <div class="error error__content" [hidden]="password.valid || (password.pristine && !f.submitted)">
        *Required fields cannot be blank
      </div>
    </form>
  </div>
</div>
