<div class="dashboard__header">
  <p class="dashboard__title">{{title}}</p>
  <div class="dashboard__buttons">
    <button type="button" class="dashboard__btn" (click)="open(addUser)">
      <img class="dashboard__header__btn__img" src="../../assets/add-active.png" /> Create New
    </button>
    <a href={{archivedLink}}><button type="button" class="dashboard__btn"> Archived Users</button></a>
  </div>
</div>

<div *ngIf="users?.length<=0; then noContent else content"></div>
<ng-template #content>
  <table>
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Team</th>
        <th>Permissions</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users">
      <user-list-item [user]="user"></user-list-item>
    </tbody>
  </table>
</ng-template>

<ng-template #noContent>
  <loading></loading>
  <!-- <no-content [emptyContent]="emptyContent"></no-content> -->
</ng-template>

<!-- modal to add new user -->
<ng-template #addUser let-c="close" class="modal">
  <user-modal (submitValue)="onSubmit($event)" [closeValue]="this.c" [modal]="modal">
  </user-modal>
</ng-template>
