<div class="modal__header">
  <h1>{{modal.header}}</h1>
</div>
<form>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label" for="inputAddress">Team Name
      <span>*</span>
    </label>
    <div class="col-sm-8">
      <input type="email" class="form-control" id="inputEmail3">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 col-form-label" for="inputAddress">Badge</label>
    <div id="upload">
      <img class="form-upload__img" src="../../assets/avatar@2x.png" />
      <button class="dashboard-upload__btn">Upload</button>
    </div>
  </div>
  <div class="dashboard__buttons">
    <button type="button" class="dashboard__btn--dark" (click)="close()">Confirm</button>
    <button type="button" class="dashboard__btn" (click)="close()">Cancel</button>
  </div>
</form>