<div class="modal__header">
  <h1>{{modal.header}}</h1>
</div>
<div *ngIf="modal.edit; then edit else add"></div>
<ng-template #edit>
  <form (ngSubmit)="onSubmit(f, team.id); close();" #f="ngForm">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Team Name
        <span>*</span>
      </label>
      <div class="col-sm-8">
        <input name="teamName" required [(ngModel)]="team.name" #name="ngModel" type="teamName" class="form-control" id="teamName">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Team color</label>
      <div class="col-sm-8">
        <input [(ngModel)]="team.color" name="color" class="color-picker" [colorPicker]="team.color" (colorPickerChange)="team.color=$event" [style.background]="team.color"
        [cpPosition]="'bottom'" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 col-form-label">Badge</label>
      <div id="upload">
        <img class="form-upload__img" src="../../assets/avatar@2x.png" />
        <button class="dashboard-upload__btn">Upload</button>
      </div>
    </div>
    <div class="dashboard__buttons">
      <button type="submit" class="dashboard__btn--dark" [disabled]="!f.valid">Confirm</button>
      <button type="button" class="dashboard__btn" (click)="close()">Cancel</button>
    </div>
    <div class="error error__content" *ngIf="(name.touched && !name.valid) && !f.valid">
      *Required fields cannot be blank
    </div>
  </form>
</ng-template>
<ng-template #add>
  <form (ngSubmit)="onSubmit(f); close();" #f="ngForm">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Team Name
        <span>*</span>
      </label>
      <div class="col-sm-8">
        <input name="teamName" required ngModel #name="ngModel" type="teamName" class="form-control" id="teamName">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="inputAddress">Team color</label>
      <div class="col-sm-8">
        <input ngModel name="color" class="color-picker" [colorPicker]="color" (colorPickerChange)="color=$event" [style.background]="color"
          [cpPosition]="'bottom'" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 col-form-label" for="inputAddress">Badge</label>
      <div id="upload">
        <img class="form-upload__img" src="../../assets/avatar@2x.png" />
        <button class="dashboard-upload__btn">Upload</button>
      </div>
    </div>
    <div class="dashboard__buttons">
      <button type="submit" class="dashboard__btn--dark" [disabled]="!f.valid">Confirm</button>
      <button type="button" class="dashboard__btn" (click)="close()">Cancel</button>
    </div>
    <div class="error error__content" *ngIf="(name.touched && !name.valid) && !f.valid">
      *Required fields cannot be blank
    </div>
  </form>
</ng-template>
