<div class="user__card">
  <div class="user__card--photo">
    <img class="user__card--photo__img" src={{user.image}} />
  </div>
  <div class="user__card--details">
    <h4>{{user.name}}</h4>
  </div>
  <div class="user__card--actions">
    <button type="button" class="dashboard--actions" (click)="open(editUser)">
      Edit
    </button>
    <button type="button" class="dashboard--actions" (click)="open(deleteUser)">
      Remove
    </button>
  </div>
</div>

<!-- edit user modal -->
<ng-template #editUser let-c="close" class="modal">
  <user-modal [closeValue]="this.c" [modal]="modal"></user-modal>
</ng-template>

<!-- delete confirmation modal -->
<ng-template #deleteUser let-c="close" class="modal">
  <confirmation-modal [closeValue]="this.c" [modal]="modal"></confirmation-modal>
</ng-template>