<nav>
  <ul class="pager">
    <!--<a class="button btn-info btn-sm" [class.disabled]="page === 0" (click) ="prev()">-->
      <!--Previous-->
    <!--</a>-->
    <button *ngIf="page>0" type="button" class="dashboard__btn--dark" (click) ="prev()">Previous</button>
    <span class="">Page {{ page + 1 }}</span>
    <button type="button" class="dashboard__btn--dark" (click) ="next()">Next</button>

    <!--<a class="button btn-info btn-sm" (click) ="next()">-->
      <!--Next-->
    <!--</a>-->
  </ul>
</nav>
