@import '../../../scss/_variables';
@import '../../../scss/_mixins';

// .pager {
//   margin-top: 20px;
//   position: absolute;
//   bottom: 0;
//   left: 40%;
// }

.btn-pagination {
  background-color: #fff;
  color: $default-secondary-color;
}
.btn-pagination-num {
  background-color: $default-background;
  color: $default-secondary-color;
  &.active {
    background-color: $default-secondary-color;
    color: #fff;
  }
}
