<tr>
  <td data-label="Full Name">
    <img *ngIf="user.image" class="table__img" src={{user.image}} />
    <img *ngIf="!user.image" class="table__img" src="../../../assets/team-member.png" />
    {{user.firstName + " " + user.lastName}}
  </td>
  <td data-label="Email">{{user.publicEmail}}</td>
  <td data-label="Team">
    <img *ngIf="user.teamImage" class="table__img" src={{user.teamImage}} />
    <img *ngIf="!user.teamImage" class="table__img" src="../../../assets/team-lg.png"/>
    {{user.team}}
  </td>
  <td data-label="Permission">{{user.permission}}</td>
  <td data-label="Action">
    <div *ngIf="user.isActive; then active else notActive"></div>
    <ng-template #active>
      <button (click)="openEdit(editUser)" class="dashboard--actions dashboard--actions--sm"><img class="dashboard--actions--sm__img" src="../../assets/edit.png" />Edit</button>
      <button (click)="openEdit(editUser)" class="dashboard--actions dashboard--actions--sm">
        <img class="dashboard--actions--sm__img" src="../../assets/reset-password.png" />Password</button>
      <button (click)="open(archiveUser)" class="dashboard--actions dashboard--actions--sm"><img class="dashboard--actions--sm__img" src="../../assets/archive.png" />Archive</button>
    </ng-template>
    <ng-template #notActive>
      <button (click)="open(unArchive)" class="dashboard--actions dashboard--actions--sm">
        <img class="dashboard--actions--sm__img" src="../../assets/unarchive.png" />
        Unarchive
      </button>
    </ng-template>
  </td>
</tr>

<!-- edit user modal -->
<ng-template #editUser let-c="close" class="modal">
  <user-modal 
    (submitValue)="onSubmit($event)" 
    [closeValue]="this.c" 
    [modal]="modal" 
    [user]="user"
  >
  </user-modal>
</ng-template>

<!-- archive confirmation modal -->
<ng-template #archiveUser let-c="close" class="modal">
  <archive-modal
    [data]="user"
    (submitValue)="onArchive($event)"
    [closeValue]="this.c"
    [modal]="modal"
  >
  </archive-modal>
</ng-template>

<!-- unArchive confirmation modal -->
<ng-template #unArchive let-c="close" class="modal">
  <archive-modal
    [data]="user"
    [closeValue]="this.c"
    [modal]="modal"
    (submitValue)="onUnarchive($event)"
  >
  </archive-modal>
</ng-template>
