<div class="login">
  <div class="login__header">

  </div>
  <div class="login__body">
    <form>
      <div class="login__body__form">
        <label class="login__body__form__label">Email</label>
        <input 
          type="email" 
          class="login__body__form__input" 
        >
      </div>
      <div class="login__body__form">
        <label class="login__body__form__label">Password</label>
        <input 
          type="password" 
          class="login__body__form__input"
        >
      </div>
      <button type="submit" class="login__body__btn btn">Login</button>
    </form>
    <p class="login__body__link">Forgot Password?</p>
  </div>
</div>
