@import '../../scss/_variables.scss';

.login {
  height: 100vh;
  background-color: $default-background;
  text-align: center;

  &__header {
      height: 400px;	
      background-color: $default-primary-color;

      &__img {
        position: relative;
        top: 50%;
      }
  }

  &__body {
    &__form {
      margin: 10px;

      &__label {
        display: block;
        font-size: 18px;	
      }

      &__input {
        height: 48px;	
        width: 320px;	
        border: 1px solid rgba(198,198,198,0.3);	
        border-radius: 4px;	
      }
    }

    &__btn {
      margin: 10px;
      height: 48px;	
      width: 320px;	
      color: $font-white;
      background-color: $default-primary-color;		
      font-size: 18px;	
      font-weight: bold;	
      line-height: 23px;	
      text-align: center;
    }

    &__link {
      color: $default-link-color;
      font-size: 16px;	
    }
  }
}