
<div class="hamburger-menu" *ngIf="isAuth()">
  <button class="hamburger-menu__btn">
    <div class="hamburger-menu__btn__divider--lg"></div>
    <div class="hamburger-menu__btn__divider--sm"></div>
    <div class="hamburger-menu__btn__divider--lg"></div>
  </button>
</div>

<div class="menu" *ngIf="isAuth()">
  <div class="menu__header">
    <img class="menu__header__img" src="../../assets/bc_logo_supported.png" />
  </div>
  <div class="menu__divider"></div>

  <!-- all admin routes below - add ngIf when admin object available -->
  <ng-template>
    <ul class="menu__list">
      <div class="menu__list__item" routerLinkActive="menu__list__item--active">
        <a routerLink="/admin/user-details">
          <li>
            <img class="menu__list__item__img" src="../../assets/users.png" />
            <span>Users</span>
          </li>
        </a>
      </div>
      <div class="menu__list__item" routerLinkActive="menu__list__item--active">
        <a routerLink="/admin/team-details">
          <li>
            <img class="menu__list__item__img" src="../../assets/team.png" />
            <span>Teams</span>
          </li>
        </a>
      </div>
      <div class="menu__list__item" routerLinkActive="menu__list__item--active">
        <a routerLink="/admin/report-details">
          <li>
            <img class="menu__list__item__img" src="../../assets/report.png" />
            <span>Reports</span>
          </li>
        </a>
      </div>
    </ul>
  </ng-template>

  <ul class="menu__list" *ngIf="!isAdmin">
    <div class="menu__list__item" routerLinkActive="menu__list__item--active">
      <a routerLink="/my-reports">
        <li>
          <img class="menu__list__item__img" src="../../assets/report.png" data-toggle="tooltip" data-placement="right" title="My Reports"/>
          <span>My Reports</span>
        </li>
      </a>
    </div>
    <div class="menu__list__item" routerLinkActive="menu__list__item--active">
      <a routerLink="/team-reports">
        <li>
          <img class="menu__list__item__img" src="../../assets/team.png" />
          <span>Team Reports</span>
        </li>
      </a>
    </div>
    <div class="menu__list__item" routerLinkActive="menu__list__item--active">
      <a routerLink="/search">
        <li>
          <img class="menu__list__item__img" src="../../assets/search.png" />
          <span>Search</span>
        </li>
      </a>
    </div>
    <div class="menu__list__item" routerLinkActive="menu__list__item--active">
      <a routerLink="/profile">
        <li>
          <img class="menu__list__item__img" src="../../assets/profile.png" />
          <span>Profile</span>
        </li>
      </a>
    </div>
    <div class="menu__list__item" routerLinkActive="menu__list__item--active">
      <a routerLink="/settings">
        <li>
          <img class="menu__list__item__img" src="../../assets/settings.png" />
          <span>Settings</span>
        </li>
      </a>
    </div>
  </ul>
  <div class="menu__divider menu__divider--last"></div>
  <div class="menu__profile">
    <img class="menu__profile__img" src="../../assets/inspector-profile@4x.png" />
    <div class="menu__profile__content">
      <p class="menu__profile__content__name">Mittie Benson</p>
        <button type="button" class="menu__profile__content__link" (click)="onLogOut()">Logout</button>
    </div>
  </div>
</div>
