<div class="menu">
  <div class="menu__img">
  </div>
  <ul class="menu__list">
    <li class="menu__list__item"><a class="menu__list__item__link" routerLink="/my-reports">My Reports</a></li>
    <li class="menu__list__item"><a class="menu__list__item__link" routerLink="/team-reports">Team Reports</a></li>
    <li class="menu__list__item"><a class="menu__list__item__link" routerLink="/profile">Profile</a></li>
    <li class="menu__list__item"><a class="menu__list__item__link" routerLink="/settings">Settings</a></li>
  </ul>
</div>
