<div class="dashboard">
  <div class="inspection">
    <!-- <a routerLink="{{link}}">
      <img src="../../../assets/back.png" />
    </a> -->
    <div class="dashboard__header">
      <h1 class="dashboard__title">{{title}}</h1>
      <button class="dashboard__btn">
        <img class="dashboard__header__btn__img" src="../../assets/add-active.png" />
        Download
      </button>
    </div>
    <div class="inspection-details">
      <div class="inspection-details-content">
        <div>
          <h4>title</h4>
          <p></p>
        </div>
        <div>
          <h4>subtitle</h4>
          <p></p>
        </div>
        <div>
          <h4>inspection number</h4>
          <p></p>
        </div>
        <div>
          <h4>inspector</h4>
          <p></p>
        </div>
      </div>
      <div class="inspection-divider"></div>
      <div class="inspection-details-content">
        <div>
          <h4>linked project</h4>
          <p></p>
        </div>
        <div>
          <h4>inspection start date</h4>
          <p></p>
        </div>
        <div>
          <h4>inspection end date</h4>
          <p></p>
        </div>
      </div>
    </div>
    <h1 class="dashboard__subtitle">{{subTitle}}</h1>
    <div class="inspection-details">
      <div class="inspection-details__header">
        <h4>Name</h4>
        <h4>Submitted</h4>
      </div>
      <div class="inspection-details-content">
        <a routerLink="element/id">Element 1</a>
        <p>Feb 6 2018</p>
      </div>

    </div>
  </div>
</div>
