<div class="dashboard">
  <div class="inspection">
    <!-- <a routerLink="{{link}}">
      <img src="../../../assets/back.png" />
    </a> -->
    <div class="dashboard__header">
      <h1 class="dashboard__title">{{title}}</h1>
      <button class="dashboard__btn">
        <img class="dashboard__header__btn__img" src="../../assets/add-active.png" />
        Download
      </button>
    </div>
    <div class="inspection-details" *ngIf="data">
      <div class="inspection-details-content">
        <div>
          <h4>title</h4>
          <p>{{ data.title || '-'  }}</p>
        </div>
        <div>
          <h4>subtitle</h4>
          <p>{{ data.subtitle || '-'  }}</p>
        </div>
        <div>
          <h4>inspection number</h4>
          <p>{{ data.inspectionNumber || '-'  }}</p>
        </div>
        <div>
          <h4>inspector</h4>
          <p>{{ data.inspector || '-'  }}</p>
        </div>
      </div>
      <div class="inspection-divider"></div>
      <div class="inspection-details-content">
        <div>
          <h4>linked project</h4>
          <p>{{ data.project || '-'  }}</p>
        </div>
        <div>
          <h4>inspection start date</h4>
          <p>{{ data.startDate || '-'  }}</p>
        </div>
        <div>
          <h4>inspection end date</h4>
          <p>{{ data.endDate || '-'  }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="elements">
      <h1 class="dashboard__subtitle">{{subTitle}}</h1>
      <div class="inspection-details">
        <div class="inspection-details__header">
          <h4>Name</h4>
          <h4>Submitted</h4>
        </div>
        <div class="inspection-details-content" *ngFor="let element of elements">
          <a [routerLink]="['element', element.id]">{{ element.title || '-'  }}</a>
          <p>{{ element.createdAt || '-' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
