<div class="modal__header">
    <h1>{{modal.message}}</h1>
</div>
<form novalidate (ngSubmit)="onSubmit(f, data.id); close();" #f="ngForm">
    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Password
      <span>*</span>
    </label>
        <div class="col-sm-8">
            <input 
                name="password" 
                required 
                [(ngModel)]="data.password" 
                #password="ngModel" 
                type="password" 
                class="form-control" 
                id="password" 
                validateEqual="confirmPassword" 
                reverse="true"
                pattern="^[a-zA-Z0-9]*$" 
                maxlength="15" 
                minlength="6" 
            >
            <div class="error" *ngIf="password.touched && !password.valid">
                <div *ngIf="password.errors.pattern">*Special characters are not valid inputs.</div>
                <div *ngIf="password.errors.minlength">*Password must be 6 characters long.</div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Confirm Password
      <span>*</span>
    </label>
        <div class="col-sm-8">
            <input name="confirmPassword" required type="password" ngModel validateEqual="password" class="form-control" id="confirmPassword" #confirmPassword="ngModel" pattern="^[a-zA-Z0-9]*$" maxlength="15" minlength="6">
        </div>
    </div>
    <div class="error error__content" [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)">
        *Passwords must match
    </div>
    <div class="dashboard__buttons">
        <button type="submit" class="dashboard__btn--dark" [disabled]="!f.valid">Confirm</button>
        <button type="button" class="dashboard__btn" (click)="close()">Cancel</button>
    </div>
    <div class="error error__content" [hidden]="password.valid || (password.pristine && !f.submitted)">
        *Required fields cannot be blank
    </div>
</form>