@import '../../../scss/variables';
@import '../../../scss/mixins';

.loading-container {
    @include flex;
    position: absolute;
    width: 100vw;
    justify-content: center;
    margin: auto;
    top: 50%;
    text-align: center;
    z-index: 99999;
    }
    
    .loader {
        margin-left: 268px;
        position: relative;
        border: 10px solid $font-gray;
        border-top: 10px solid $default-primary-color;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 2s linear infinite;

        @include tablet {
            margin-left: 70px;
        }

        @include mobile {
            margin-left: 0;
        }
    }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}