<div class="dashboard">
    <button class="location-change" (click)="onLocationChange()">
        <img src="../../../assets/back.png" />
    </button>
    <div class="dashboard__header">
        <p class="dashboard__title">
            <img class="dashboard__title--img" [src]="team.badge || '../../../assets/team-lg.png'" />
            {{ team?.name || '-'}}
            <span class="dashboard__title--admin">Team Administrator: {{team.admin.name}}</span>
        </p>
        <div class="dashboard__buttons">
            <button type="button" class="dashboard__btn" (click)="open(addMember)">
        <img class="dashboard__header__btn__img" src="../../assets/add-active.png" />
        Add Member
      </button>
        </div>
    </div>
    <div *ngIf="members!== undefined && members?.length <= 0; then noContent else content"></div>
    <ng-template #noContent>
        <no-content [emptyContent]="emptyContent"></no-content>
    </ng-template>
    <ng-template #content>
        <div class="dashboard-card__container" *ngFor="let member of members">
            <user-card [user]="member" [team]="team" (removeMember)="onRemoveMember($event)" (editMember)="onEditMember($event)"></user-card>
        </div>
        <br>
        <div class="d-flex justify-content-center">
          <app-pagination [page]="page" [totalPages]="totalPages" (changePage)="onChangePage($event)"></app-pagination>
        </div>
    </ng-template>

</div>

<ng-template #addMember let-c="close" class="modal">
    <member-modal (submitValue)="onAddMember($event)" [closeValue]="this.c" [modal]="modal">
    </member-modal>
</ng-template>
