<div class="dashboard">
  <a routerLink="{{link}}">
    <img src="../../../assets/back.png" />
  </a>
  <div class="dashboard__header">
    <p class="dashboard__title">Team Name Here..</p>
    <div class="dashboard__buttons">
      <button type="button" class="dashboard__btn" (click)="open(addMember)">
        <img class="dashboard__header__btn__img" src="../../assets/add-active.png" />
        Add Member
      </button>
    </div>
  </div>
  <div *ngIf="users.length<=0; then noContent else content"></div>
  <ng-template #noContent>
    <no-content [emptyContent]="emptyContent"></no-content>
  </ng-template>
  <ng-template #content>
    <div class="dashboard-card__container" *ngFor="let user of users">
      <user-card [user]="user"></user-card>
    </div>
  </ng-template>
</div>

<ng-template #addMember let-c="close" class="modal">
  <permissions-modal (submitValue)="onAddMember($event)" [closeValue]="this.c" [modal]="modal"></permissions-modal>
</ng-template>
