<div *ngIf="data<=0; then noContent else content"></div>
<ng-template #noContent>
    <no-content [emptyContent]="emptyContent"></no-content>
</ng-template>
<ng-template #content>
    <div class="dashboard">
        <div class="dashboard__header">
            <p class="dashboard__title">{{title}}</p>
            <div class="dashboard__buttons">
                <a routerLink='../archived-inspections'><button class="dashboard__btn dashboard__btn--lg">Archived Inspections</button></a>
            </div>
        </div>
        <p class="dashboard__title" *ngIf="team">
            <img width="60px" [src]="team.badge" (error)="setDefaultPic()" /> {{team.name}}
        </p>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Linked Projects</th>
                    <th>Inspector</th>
                    <th class="pointer" (click)="sort('updatedAt')">
                        Submitted
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <span *ngFor="let data of data | orderBy : {property: column, direction: direction}">
                    <report-list-item [data]="data" [fields]="fields" [actions]="actions"></report-list-item>
                </span>
            </tbody>
        </table>
    </div>
</ng-template>