/* You can add global styles to this file, and also import other style files */

// All CSS created using BEM naming conventions and SASS.
// Generic/reusable styling for dashboard (reusable buttons, tables, modals) - all other CSS in appropiate folders.
// Variables/Mixins found in ./scss/<filename>
@import '~bootstrap/dist/css/bootstrap.css';
@import "~ngx-toastr/toastr";
@import './scss/_variables';
@import './scss/_mixins';
// remove whitespace at top
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: myriad-pro, sans-serif;

    // container for pagination links (all other css in pagination.scss
    .d-flex.justify-content-center {
        margin-top: 20px; 

        @include large {
            margin-top: 40px;
        }
    }

    .no-content {
        position: absolute;
        top: 40%;
        left: 35%;
        text-align: center;
        @include large {
            position: inherit;
            text-align: center;
            margin-top: 30%;
            left: 0;
        }
        &__img {
            color: $font-dark-gray !important;
        }
        &__title {
            margin-top: 30px;
            color: $font-dark-gray;
            height: 20px;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
        }
    }
    .no-route {
        height: 100vh;
        width: 100vw;
        background-color: $default-background;
        &__title {
            position: absolute;
            top: 40%;
            left: 40%;
            color: $font-dark-gray;
            height: 20px;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            @include tablet {
                top: 40%;
                left: 40%;
            }
            @include mobile {
                top: 25%;
                left: 25%;
            }
        }
    }
    // override toast css
    .toast-success {
        background-color: $default_primary_color !important;
    }
    .toast-error {
        background-color: $error-orange !important;
    }
    .toast-progress {
        background-color: $font-white !important;
        opacity: 0.9 !important;
    }

    .location-change {
        @include mobile {
            margin-top: 40px;
            position: relative;
            left: -7px;
        }
    }
    //all reusable dashboard styling
    .dashboard {
        background-color: $default-background;
        min-height: 100vh;
        max-height: 100%;
        position: relative;
        top: 0;
        width: calc(100% - 268px);
        left: 268px;
        padding: 10px;
        @include tablet {
            width: calc(100% - 70px);
            left: 70px;
        }
        @include mobile {
            width: 100%;
            left: 0px;
        }
        &-card__container {
            max-width: 100%;
            display: inline-block;
        }
        &__header {
            @include flex;
            justify-content: space-between;
            @include mobile {
                display: block;
            }
        }
        &__title {
            text-transform: capitalize;
            margin: 0 20px;
            height: 100%;
            color: $font-black;
            font-size: 36px;
            font-weight: bold;
            line-height: 34px;

            @include large {
                    font-size: 26px;
                }

            &--img {
                width: 65px;
                height: 64px;
                border-radius: 50%;
            }

            &--admin {
                display: inherit;
                font-weight: 300;
                font-size: 14px;
                color: $font-gray;
            }
            @include mobile {
                text-align: center;
            }
        }
        &__subtitle {
            margin-left: 30px;
            height: 28px;
            color: $font-black;
            font-size: 20px;
            font-weight: bold;
            line-height: 34px;

            @include mobile {
                margin-left: 0;
                text-align: center;
            }
        }
        &--actions {
            font-size: 15px;
            height: 16px;
            width: 33px;
            color: $default-link-color;
            border: none;
            margin-right: 10px;
            text-transform: uppercase;

            @include xs-mobile {
                font-size: 12px;
            }

            &--sm {
                width: auto;
                display: inline-flex;
                text-transform: capitalize;
                &__img {
                    width: 19px;
                }
            }
            &:hover {
                cursor: pointer;
                color: $default-primary-color;
            }
        }

        // dashboard/modal buttons
        &-upload__btn {
            color: $default-link-color;
        }
        &__buttons {
            @include flex;
            margin: 20px;
            justify-content: space-around;

            @include xs-mobile {
                display: grid;
            }
        }
        &__btn {
            color: $default-secondary-color;
            margin-right: 10px;
            height: 40px;
            width: 160px;
            border: 1px solid $default-primary-color;
            border-radius: 4px;
            font-size: 18px;
            background-color: $background-white;
            cursor: pointer;
            @include tablet {
                margin-bottom: 15px;
            }
            @include mobile {
                margin: 0 2px 15px 2px;
            }
            &--lg {
                width: 200px;
            }
            &--dark {
                color: $font-white;
                margin-bottom: 5px;
                height: 40px;
                width: 160px;
                border: 1px solid $default-primary-color;
                border-radius: 4px;
                font-size: 18px;
                background-color: $default-primary-color;
                cursor: pointer;
            }
            &__img {
                margin-right: 5px;
            }
        }
    }
    // modal
    .modal {
        min-height: 100% !important;
        height: 400px;
        bottom: 15%;
        left: 15%;

        &__header {
            background-color: $default-primary-color;
            height: 72px;
            text-align: center;
            h1 {
                position: relative;
                top: 20px;
                font-size: 24px;
                font-weight: bold;
                line-height: 29px;
                color: $font-white;
            }
        }
        @include tablet {
            left: 0;
        }
        @include mobile {
            left: 0;
        }
        h4 {
            color: rgba(0, 0, 0, 0.54);
            font-size: 18px;
            margin: 50px;
        }
        form {
            margin: 30px 30px;

            label {
                padding: 0;
                text-transform: uppercase;
                color: $font-gray;
                font-size: 14px;
                font-weight: 300;
                @include large {
                    font-size: 11px;
                }
                span {
                    font-size: 18px;
                    color: #D0021B;
                }
            }
        }
        #upload {
          display: inline-grid;
        }
        // profile image on user modal
        .form-upload__img-wrapper {
            margin-left: 15%;
            margin-bottom: 20px;

            .form-upload__img {
                border-radius: 50%;
                width: 80px;
                height: 80px;
                position: relative;
            }
        }
        // profile image on teams modal
        .form-upload__img {
                border-radius: 50%;
                width: 80px;
                height: 80px;
                position: relative;
            }
    }
    // Responsive Reports Table

    .table.inspection {
        font-size: 20px;
        width: inherit;
        box-shadow: none;
        .table-row {
            border-bottom: 1px solid $font-gray;

            &-item.description {
                margin: 20px;
                @include flex;

                @include xl {
                    margin: 0;
                }
                @include mobile {
                    margin: 0;
                    display: inline-block;

                    a img {
                        margin: 0;
                        padding: 10px;
                        width: 100%
                    }
                }
                textarea {
                    font-size: 16px;
                    margin-right: 40px;
                    height: 250px;
                    width: 100%;
    
                    @include xl {
                        margin-right: 5px;
                    }
                }
            }
        }
        #last {
            border-bottom: none;
        }
        .table-row-item {
            font-size: 18px;
            flex: 3;

            @include xl {
                font-size: 14px;
            }

            &:last-child {
                flex: 3;
                @include xxl {
                    flex: 3;
                }
            }
        }
    }

    .table {
        width: calc(100% - 20px);
        background-color: #FFFFFF;
        box-shadow: $default-box-shadow;
        margin: 10px;
        padding: 0;
        border-collapse: collapse;
        table-layout: fixed;

        .table-row {
            @include flex;
            padding: 5px;
            border-bottom: 1px solid $font-gray;
        }


        .table-row-item {
            align-items: center;
            display: flex;
            flex: 3;
            font-size: 13px;
            overflow: overlay;
            overflow-wrap: break-word;
            padding: 5px;
            font-weight: 300;
            text-align: left;

             @include mobile {
                min-height: 40px;
                max-height: 100%;
            }
        }

        .table-row-item:last-child {
            flex: 5;

            @include xxl {
                overflow: inherit;
                flex: 2;
                display: grid;
            }
        }

        .table-row-item.view-only {
                flex: 2;
            }

        .table-row-item.permission, .table-row-item.name, .tabl-row-item.teams {
            text-transform: capitalize;
        }

        .table-row-item.teams {
            display: inline-grid;

            @include xl {
                display: inline;
            }
        }

        // inspection view table
        .table-row.table-header.inspection {
            background-color: $font-white;
            border-bottom: none;
            color: $font-dark-gray;
            text-transform: uppercase;
        }

        .table-row.table-header {
            background-color: #EAEEF0;
            color: $font-dark-gray;
            text-transform: uppercase;
            border-bottom: none;

            .table-row-item {
                font-size: 16px;
            }
        }
    }
    .table__img {
      width: 40px;
      height: 40px;
      overflow: hidden;
      margin-right: 5px;
      border-radius: 50%;
    }
  .table__image-wrapper {
    height: 40px;
  }

    @include xl {
        .table {
            display: block;
            background-color: $default-background;
            box-shadow: none;

            .table-row.inspection {
                width: inherit;
                padding: 0;
                margin: 0;
                box-shadow: none;
            }
            .table-row {
                display: block;
                margin-bottom: 20px;
                background-color: $background-white !important;
                border: none;
                box-shadow: $default-box-shadow;
            }
            /* Hide table headers (but not display: none;, for accessibility) */
            .table-row.table-header {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
            .table-row-item {
                width: none;
                height: 100%;
                font-size: 13px;
                overflow: unset;
                text-align: right !important;
                display: list-item;
                list-style: none;
                border: none;
            }


            .table-row-item:last-child {
                display: inherit;
            }
            .table-row-item:before {
                content: attr(data-header);
                float: left;
                white-space: nowrap;
                color: $font-dark-gray;
                font-size: 12px;
                text-transform: uppercase;
            }
            .table-row-item.teams:before {
                margin-left: 5px;
            }
        }
    }
}
