<div class="modal__header">
  <h1>{{modal.header}}</h1>
</div>
<div class="prmissions-modal__body">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">1</label>
  </div>
  <img class="permissions-modal__body__img" src="../../assets/team-logo.png" />
  <span>User Name</span>
  <div class="form-check form-check-inline" *ngFor="let permission of permissions">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1">{{permission}}</label>
  </div>
</div>
<div class="dashboard__buttons">
  <button type="button" class="dashboard__btn--dark" (click)="onSubmit(); close();">{{modal.userButton}}</button>
  <button type="button" class="dashboard__btn" (click)="close()">Cancel</button>
</div>
