<div class="modal__header">
    <h1>{{modal.header}}</h1>
</div>
<div class="prmissions-modal__body">
    <span>{{data.title}}</span>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="viewOnly" id="viewOnly" value="viewOnly" [(ngModel)]='data.viewOnly'>
        <label class="form-check-label" for="viewOnly">View only</label>
    </div>
</div>
<div class="dashboard__buttons">
    <button type="button" class="dashboard__btn--dark" (click)="onSubmit(data); close();">{{modal.userButton}}</button>
    <button type="button" class="dashboard__btn" (click)="close()">Cancel</button>
</div>