<div class="dashboard">
  <h1 class="dashboard__title">Notitifications</h1>
  <div class="settings"> 
    <div class="settings-content">
      <div>
        <p>{{notificationTeam}}</p>
      </div>
      <div>
        <label class="settings-switch">
          <input type="checkbox">
          <span class="settings-slider round"></span>
        </label>
      </div>
    </div>
    <div class="settings-divider"></div>
    <div class="settings-content">
      <p>{{notificationInspection}}</p>
      <label class="settings-switch">
        <input type="checkbox">
        <span class="settings-slider round"></span>
      </label>
    </div>
  </div>
</div>
