<div class="user__card">
    <div class="user__card--photo">
        <img class="user__card--photo__img" [src]="user.image || '../../assets/team-logo@2x.png'" />
    </div>
    <div class="user__card--details">
        <h4>{{user.name}}</h4>
    </div>
    <div class="user__card--actions">
        <button type="button" class="dashboard--actions" (click)="openEdit(editUser)">
      Edit
    </button>
        <button type="button" class="dashboard--actions" (click)="openRemove(deleteUser)">
      Remove
    </button>
    </div>
</div>

<!-- edit user modal -->
<ng-template #editUser let-c="close" class="modal">
    <user-modal (submitValue)="onEditMember($event)" [closeValue]="this.c" [modal]="editModal" [user]="user"></user-modal>
</ng-template>

<!-- delete confirmation modal -->
<ng-template #deleteUser let-c="close" class="modal">
    <confirmation-modal (submitValue)="onRemoveMember($event)" [closeValue]="this.c" [modal]="removeModal"></confirmation-modal>
</ng-template>