@import '../../../scss/_mixins';
@import '../../../scss/_variables';

.user__card {
  margin: 7px;
  margin-top: $dashboard-content-margin;
  height: 120px;	
  width: 270px;	
  border-radius: 2px;	
  background-color: $background-white;	
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
  @include flex;
  
  &__content {
    position: relative;
    top: 20%;
    left: 5%;
    @include flex;

    @include mobile {
      left: 10%;
    }

    &--photo {
      flex: 1;

      &__img {
        height: 64px;	
        width: 64px;
        border-radius: 50%;

        @include mobile {
          width: 80px;
          height: 80px;
        }
      }
    }

    &--actions {
      position: absolute;
      bottom: 40px;
      display: inline-flex;
    }
    
    &--details {
      padding-top: 5px;
      padding-left: 10px;
      text-align: left;
      flex: 3;
      
      h4 {
        width: 180px;
        text-transform: capitalize !important;
        overflow-wrap: break-word;
        color: $font-black;	
        font-size: 16px;

        @include mobile {
          font-size: 18px;
        }
      }
    }
  }
}