<div class="elements-details-media-block" *ngIf="item.fileURL">
  <div class="element-details-media">
    <div class="thumbnail">
      <span *ngIf="item.type === 'aud'">
        <img class="thumbnail-link-image" [src]="this.audioImage">
      </span>
      <span *ngIf="item.type === 'img'">
        <img class="thumbnail-link-image" [src]="this.thumbnailImage" (error)="setDefaultPic()">
      </span>
      <span *ngIf="item.type === 'vid'">
        <img class="thumbnail-link-image" [src]="this.defaultPic">
      </span>
      <span *ngIf="item.type === 'bin'">
        <img class="thumbnail-link-image" [src]="this.thumbnailImage" (error)="setDefaultPic()">
      </span>
      <a class="thumbnail-link" href="{{ item.fileURL }}"></a>
    </div>
  </div>
</div>
