@import '../../../../scss/_mixins';
@import '../../../../scss/_variables';

.element-details-media {
  padding:5px;
  width: 120px;
  height:120px;
  overflow:hidden;
  .thumbnail {
    height:100%;
    border-radius: 5px;
    &-link {
      margin:auto;
      &-image {
        margin:auto;
        height: 120px;
      }
    }
  }
}


