/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

body {
  font-family: myriad-pro, sans-serif;

  .dashboard {
    position: relative;
    left: 268px;
  }
}
