/* You can add global styles to this file, and also import other style files */

// All CSS created using BEM naming conventions and SASS.

// Generic/reusable styling for dashboard - all other CSS in appropiate folders.
// Variables/Mixins found in ./scss/<filename>
@import '~bootstrap/dist/css/bootstrap.css';
@import './scss/_variables';
@import './scss/_mixins';

body {
  font-family: myriad-pro, sans-serif;
  .dashboard {
    min-height: 800px;
    max-height: 100%;
    background-color: $default-background;
    position: relative;
    top: -20px;
    width: calc(100% - 268px);
    left: 268px;
    padding: 20px;

    @include tablet {
        width: calc(100% - 70px);
         left: 70px;
      }

    &__header {
      @include flex;
      justify-content: space-between;
    }

      &__title {
      margin-left: 30px;
      height: 28px;	
      color: $font-black;	
      font-size: 28px;	
      font-weight: bold;	
      line-height: 34px;
    }

    &__subtitle {
      margin-left: 30px;
      height: 28px;	
      color: $font-black;	
      font-size: 20px;	
      font-weight: bold;	
      line-height: 34px;
    }

    &--actions {
      font-size: 16px;
      height: 16px;	
      width: 33px;
      color: $default-link-color;	
      border: none;
      margin-right: 10px;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
        color: $default-primary-color;
      }
    }

     &__btn {
        color: $default-secondary-color;
        margin-right: 10px;
        height: 40px;	
        width: 160px;	
        border: 1px solid $default-primary-color;	
        border-radius: 4px;	
        font-size: 18px;
        background-color: $background-white;

      &__img {
        margin-right: 5px;
      }

      &__btn--dark {
        color: $default-secondary-color;
        height: 40px;	
        width: 160px;	
        border: 1px solid $default-primary-color;	
        border-radius: 4px;	
        font-size: 18px;
        background-color: $default-primary-color;
      }
    }
  }
}
