@import '../../../scss/_mixins';
@import '../../../scss/_variables';

.element {
  
  &-details {
    margin: $dashboard-content-margin;
    height: 344px;	
    width: $dashboard-content-width;	
    background-color: #FFFFFF;	
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
  }
}