<div class="dashboard">
  <div class="element">
    <!-- <a routerLink="{{link}}">
      <img src="../../../assets/back.png" />
    </a> -->
    <h1 class="dashboard__title">{{title}}</h1>
    <div class="element-details">
      <div class="element-details-content" *ngIf="data">
        <div>
          <h4>title</h4>
          <p>{{ data.title || '-' }}</p>
        </div>
        <div>
          <h4>requirement</h4>
          <p>{{ data.requirement || '-' }}</p>
        </div>
        <div>
          <h4>gps coordinates</h4>
          <p *ngIf="data.coordinate">Lat: {{ data.coordinate.latitude || '-' }} Lon: {{ data.coordinate.longitude || '-' }}</p>
        </div>
      </div>
      <div class="element-details-content" *ngIf="data">
        <div>
          <h4>description</h4>
          <textarea>{{ data.description || '-' }}</textarea>
        </div>
        <div>
          <img src="../../../assets/default-map.png" />
        </div>
      </div>
    </div>
    <div *ngIf="photos?.length > 0">
      <h1 class="dashboard__subtitle">{{subTitle}}</h1>

      <div class="element-details" >
        <nav class="nav nav-pills flex-column flex-sm-row">
          <a class="flex-sm-fill text-sm-center nav-link active">All</a>
          <a class="flex-sm-fill text-sm-center nav-link disabled">Photos</a>
          <a class="flex-sm-fill text-sm-center nav-link disabled">Video</a>
          <a class="flex-sm-fill text-sm-center nav-link disabled">Voice</a>
        </nav>
        <div class="element-details-media" *ngFor="let photo of photos">
          <img class="thumbnail" src="{{ photo.fileURL }}">
        </div>
      </div>
    </div>
  </div>
</div>
