<div class="forgot-password-modal__body">
    <span class="forgot-password-modal__body__message">{{modal.message}}</span>
    <div class="forgot-password-modal__body__form">
        <label [ngClass]="{invalid : email.touched && !email?.valid}" class="forgot-password-modal__body__form__label">Email</label>
        <input #email="ngModel" type="email" class="forgot-password-modal__body__form__input" id="email" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required ngModel>
    </div>
    <div class="error error__content" *ngIf="(email.touched && !email.valid)">
        The email is inccorrect.
    </div>
</div>
<div class="dashboard__buttons">
    <button type="button" class="dashboard__btn--dark" (click)="onSubmit(email); close();" [disabled]="(email.touched && !email.valid)">{{modal.userButton}}</button>
    <button type="button" class="dashboard__btn" (click)="close()">Cancel</button>
</div>