@import '../../../../scss/_variables.scss';
.forgot-password-modal {
    &__body {
        padding: 27px 44px 44px 44px;
        &__form {
            margin: 10px;
            &__label {
                display: block;
                height: 19px;
                width: 42px;
                color: #000000;
                font-family: "Myriad Pro";
                font-size: 18px;
                line-height: 23px;
                text-align: center;
            }
            .invalid {
                color: red;
            }
            &__input {
                height: 48px;
                width: 100%;
                border: 1px solid rgba(198, 198, 198, 0.3);
                border-radius: 4px;
                background-color: #FFFFFF;
            }
            // validation erros
            .forgot-password-modal__body__form__input.ng-touched.ng-invalid {
                border: 2px solid red;
            }
        }
        &__message {
            height: 48px;
            width: 320px;
            color: rgba(0, 0, 0, 0.54);
            font-family: "Myriad Pro";
            font-size: 18px;
            line-height: 24px;
        }
    }
}

.error {
    color: $error-red;
    font-size: 12px;
    font-style: italic;
    &__content {
        text-align: center;
    }
}